
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/ttu.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Currently in Graduate School in the Texas Tech University Computer Science program studying machine learning.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/grantham.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Graduated Magna Cum Laude from Grantham University with a BS in Computer Science.
                </div>
              </div>
            </div>
          </div>
