
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/devcamp.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>CTO</strong> - Lead in the development of the devCamp Learning Management System along with curriculum development from founding to acquisition.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/w_blue.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>VP Engineering</strong> - Managed development department for Wilson Systems and lead in the build out of a number of enterprise web and mobile applications.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/slate.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Chief Architect</strong> - Lead in the planning of a number of key development projects.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/bottega.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Curriculum Director</strong> - Developed the curriculum for the Bottega Code School, including courses on: Ruby on Rails, Algorithms & Data Structures, Front End Coding, and Database Management.
                </div>
              </div>
            </div>
          </div>
