<div class="inner cover">
  <h1 class="cover-heading">Welcome to my online home.</h1>
  <p class="lead">
    <span class="element"></span>
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
